<script>
	export let data;
	// console.log(data.attributes);
	// console.log(data.doctype);
	// console.log(data.lang);
	// console.log(data.date);
</script>

<svelte:head>
	{#if data.lang}
		<meta property="og:locale" lang={data.lang} />
	{/if}
</svelte:head>

<main class="article">
	<section class="article">
		<div class="doc">
			<slot />
		</div>
	</section>
</main>

<style lang="postcss">
	@import '/src/assets/css/carbon-color.css';
	@import '/src/assets/css/vars.css';
	@import '/src/assets/css/doc.css';
	@import '/src/assets/css/admonitions.css';
</style>
